<div class="bg ">
	<div class="code-library text-white font-code display-4 text-center flex align-items-center">CODE LIBRARY</div>
	<div class="row ml-3 mt-3 pb-3 font-code flex flex-column w-25">
		<button class="text-white shadowed"><h1 class="shadowed">Search Videos</h1></button>
		<app-carousel></app-carousel>
		<button class="text-white shadowed"><h1 class="shadowed">Search Articles</h1></button>
		<button class="text-white shadowed"><h1 class="shadowed">Search Books</h1></button>
		<button class="text-white shadowed"><h1 class="shadowed">Search Documentation</h1></button>
		<button class="text-white shadowed"><h1 class="shadowed">Search Art</h1></button>
		<button class="text-white shadowed"><h1 class="shadowed">Search Algorithom Challenges</h1></button>
	</div>
</div>
